.Rectangle385prop{
   height: 50px;
   width: 118px;
   left: 1306px;
   top: 223px;
   border-radius: 5px;
   background: #FFDB5833;
   border: 0.5px solid #2A251533
}

.rectangle4{
	position: absolute;
    width: 118px;
    height: 50px;
    left: 1306px;
    top: 223px;

    background: rgba(255, 219, 88, 0.2);
    border: 0.5px solid rgba(42, 37, 21, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}

.rectangle4 .box{
   border-radius: 0px;

   position: absolute;
   width: 24.09px;
   height: 24.09px;
   left: 20px;
   top: 10px;
}


.rectangle4 .calendar{
   border-radius: 0px;

   position: absolute;
   width: 24.09px;
   height: 24.09px;
   left: 80px;
   top: 10px;
}