.position1{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant1{

    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
    width: 271px;
    height: 254px;
    left: 266px;
    top: 293px;
}

.position2{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}


.applicant2{

	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
    width: 270px;
    height: 254px;
    left: 562px;
    top: 293px;
}

.position3{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant3{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
    width: 270px;
    height: 254px;
    left: 858px;
    top: 293px;
}

.position4{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}
.applicant4{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
    width: 271px;
    height: 254px;
    left: 1153px;
    top: 293px;
}

.position5{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant5{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
    width: 271px;
    height: 254px;
    left: 266px;
    top: 573px;
}

.position6{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant6{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
	width: 270px;
	height: 254px;
	left: 562px;
	top: 573px;
}

.position7{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant7{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
	width: 270px;
	height: 254px;
	left: 858px;
	top: 573px;
}

.position8{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}


.applicant8{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
	width: 271px;
	height: 254px;
	left: 1153px;
	top: 573px;
}

.position9{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}
.applicant9{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
    width: 271px;
    height: 254px;
    left: 266px;
    top: 853px;
}

.position10{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant10{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
	width: 270px;
	height: 254px;
	left: 562px;
	top: 853px;
}

.position11{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant11{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

   position: absolute;
	width: 270px;
	height: 254px;
	left: 858px;
	top: 853px;
}

.position12{
    position: absolute;
    width: 173px;
    height: 218px;
    left: 40px;
    top: 10px;
}

.applicant12{
	
	border-radius: 8px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px 2px #EAC95180;

    position: absolute;
	width: 271px;
	height: 254px;
	left: 1153px;
	top: 853px;
}